<h1>Books</h1>

<style>
    table, th, td {
      border:1px solid black;
    }
</style>
    
    <table style="width:100%">
        <tr>
            <th>Book ID</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>subject</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        {% if books %}
            {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.name }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.subject }}</td>
                        <td>{{ book.price }}</td>
                        <td><a href="{% url 'edit' book.id %}">Edit</a>/<a href="{% url 'delete' book.id %}">Delete</a></td>
                    </tr>
            {% endfor %}
        {% else %}
            <p>No Data to display</p>
        {% endif %}   
    </table><br><br>

    <button type="button"><a href="{% url 'add' %}">Add</a></button>